<div class="mb-6 max-w-md mx-auto">
  <input
    #searchInput
    type="text"
    placeholder="Buscar obra por nombre o descripción..."
    class="border border-gray-300 rounded px-4 py-2 w-full"
  />
</div>
<div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  @for (artwork of filteredArtworks(); track artwork.id) {
  <div
    useInView
    #inView="inView"
    [class]="
      inView.visible()
        ? 'opacity-100 translate-y-0 transition-all duration-700'
        : 'opacity-0 translate-y-4'
    "
  >
    <app-artwork-card [artwork]="artwork" />
  </div>
  }
</div>
