<section class="max-w-4xl mx-auto px-6 py-10 space-y-8">
  <h1     class="text-xl font-semibold tracking-widest text-left text-gray-900 mb-8"
>
    ENCARGOS Y CONTACTO
  </h1>

  <div class="flex justify-center">
    <img
      [src]="ContactSectionPaths.CONTACT_ARTWORK"
      alt="Hombre en su jardín"
      class="max-w-sm w-full animate-fade-in-up object-contain"
    />
  </div>

  <p class="text-base text-gray-700 leading-relaxed max-w-prose mx-auto">
    Si estás pensando en regalar o decorar un espacio, no dudes en contactarme vía mail:
    <a
      href="mailto:estudiocasavedra@gmail.com"
      class="text-gray-900 underline underline-offset-2 hover:text-pink-600 transition"
    >
      estudiocasavedra&#64;gmail.com
    </a>
    o también vía Instagram:
    <a
      href="https://www.instagram.com/alejandrovillar.art/"
      target="_blank"
      class="text-gray-900 underline underline-offset-2 hover:text-pink-600 transition"
    >
      &#64;alejandrovillar.art
    </a>
  </p>

  <div class="border-t border-gray-200"></div>
  <h2 class="text-lg font-medium tracking-wide text-gray-900">
    Contactar
  </h2>
  <div></div>

  <app-reservation-form></app-reservation-form>
</section>
