<section class="max-w-4xl mx-auto p-6 space-y-6">
  <h1 class="text-3xl font-bold mb-4">Estudio Casavedra</h1>

  <div class="grid gap-4 sm:grid-cols-2">
    <img
      [src]="StudioSectionPaths.STUDIO_1"
      alt="Estudio 1"
      class="rounded shadow"
    />
    <img
      [src]="StudioSectionPaths.STUDIO_2"
      alt="Estudio 2"
      class="rounded shadow"
    />
  </div>

  <p class="text-gray-700 leading-relaxed mt-6">
    Estudio Casavedra es un espacio de creación y perfeccionamiento de las
    técnicas aprendidas. Es el lugar dónde las ideas reposan sobre el lienzo.
    <br /><br />
    El nombre hace referencia a la casa familiar en una aldea de Galicia, de la
    Ribeira Sacra, dónde el tiempo de mi niñez fue invertido en descubrir y
    experimentar en la naturaleza, al igual que ahora lo hago para crear mis
    obras. <br /><br />
    Estudio Casavedra es esa pequeña inspiración a la que siempre puedo volver.
  </p>
</section>
