<section class="max-w-4xl mx-auto px-4 py-10 space-y-10">
  <h1 class="text-xl font-semibold tracking-widest text-left text-gray-900">
    ESTUDIO CASAVEDRA
  </h1>
  <div class="flex justify-center">
    <img
      [src]="StudioSectionPaths.STUDIO_1"
      alt="Estudio 1"
      class="w-full max-w-xl h-64 object-cover animate-fade-in-up"
    />
  </div>
  <div class="space-y-5 text-gray-700 text-sm leading-relaxed tracking-wide">
    <p>
      Estudio Casavedra es un espacio de creación y perfeccionamiento de las
      técnicas aprendidas. Es el lugar dónde las ideas reposan sobre el lienzo.
    </p>
    <p>
      El nombre hace referencia a la casa familiar en una aldea de Galicia, de
      la Ribeira Sacra, dónde el tiempo de mi niñez fue invertido en descubrir y
      experimentar en la naturaleza, al igual que ahora lo hago para crear mis
      obras.
    </p>
    <p>
      Estudio Casavedra es esa pequeña inspiración a la que siempre puedo
      volver.
    </p>
  </div>
  <div class="flex justify-center">
    <img
      [src]="StudioSectionPaths.STUDIO_2"
      alt="Estudio 2"
      class="h-64 animate-fade-in-up"
    />
  </div>
</section>
